p{
    padding-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:30px;
    margin: 10px;
}
tr:nth-child(even) {background-color: #ff8383;}
table{font-size: 20px;width: 50%;}
.d{
    transition: all 1s;
}
.d:hover{
    transform: scale(1.1);
}
body{
    background-color: aquamarine;
}
span{
    color: rgb(48, 143, 0);
}